# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
*.ipynb_checkpoints/

# Rust
target/
Cargo.lock

# Binaries
*.exe
*.exe~
*.dll
*.dylib

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
